.sliderContainer {
  width: 100%;
  max-height: 500px;
  border-radius: 12px;
  overflow: hidden;
}

.singleImageContainer {
  width: 100%;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
}

.slider {
  max-height: 500px;
}

.slideWrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
  max-height: 500px;
}

.sliderImage {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  object-position: center center;
  border-radius: 12px;
  display: block;
}

.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.nextArrow {
  right: 10px; /* Adjust right spacing */
}

.prevArrow {
  left: 10px; /* Adjust left spacing */
}
